<!doctype html>
<html>
<head>
	<title> REGISTER </title>
        <% for (var i=0; i<theme.styles.length; i++) { %>
                <link href="<%= theme.styles[i].href %>" rel="<%= theme.styles[i].rel %>" >
        <% } %>

	<style>
		body { padding-top:80px; } 
	</style>
</head>

<body>
<div class="container"> 

<div class="col-sm-6 col-sm-offset-3">
	<h1><span class="fa fa-sign-in"></span> REGISTER </h1>
	
	<% if (message.length >0) { %>
		<div class="alert alert-danger">ALERT <%= message %></div>
	<% } %> 
	<form action="<%=rootns%>/signup" method="post" enctype="multipart/form-data">
	    <fieldset>
		<div class="form-group">
			<label> Email</label>
			<input type="text" class="form-control" name="email" value="<%=user%>">
		</div>
		<div class="form-group">
			<label>Code</label>
			<input type="text" class="form-control" name="password">
		</div>
		<button type="submit" class="btn btn-warning btn-lg">Signup</button>
	    </fieldset>
	</form>

	<hr>
	<p>Already have an account? <a href="<%=rootns%>/login">Login</a></p>
	<p><a href="<%=rootns%>/"> back Home </a>.</p>
</div>

</div>
</body>
</html>
